.cta-paragraph {
    text-align: center !important;


    .cta-row {
        text-align: center;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;

        .title-cta {
            padding-top: 4rem;
            padding-bottom: 3rem;

            h2 {
                font-size: 35px;
                padding-bottom: 0;
            }
        }

        .color-secondary {
            p {
                max-width: 600px;
                margin: 0 auto;
                text-align: center;
                padding-bottom: 4rem;
            }
        }

        .button-holder {
            padding-bottom: 8rem;

            a.btn-primary {}
        }
    }


}


@media only screen and (max-width: 792px) {
    .cta-paragraph {
        max-width: 880px !important;
        margin: 0 auto;
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin-bottom: 0rem;

        .cta-row {
            background-image: none !important;



            .title-cta {
                padding-top: 0rem;
                padding-bottom: 0rem;

                h2 {
                    font-size: 35px;
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                }
            }

            .color-secondary {
                padding-bottom: 1rem;

                p {
                    padding-bottom: 2rem;
                }
            }

            .button-holder {
                padding-bottom: 0rem;
            }
        }

    }
}