.full-width-border {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding: 0 !important;
  margin: 0 !important; }
  .full-width-border img {
    margin-top: -17px; }

.blue-border {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #2e3474;
  height: 150px; }

@media only screen and (max-width: 1094px) {
  .full-width-border {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important; }
    .full-width-border img {
      margin-top: -20px; }

  .blue-border {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #2e3474;
    height: 150px; } }
@media only screen and (max-width: 951px) {
  .full-width-border {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important; }
    .full-width-border img {
      margin-top: -21px; }

  .blue-border {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #2e3474;
    height: 150px; } }
@media only screen and (max-width: 807px) {
  .full-width-border {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important; }
    .full-width-border img {
      margin-top: -22px; }

  .blue-border {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #2e3474;
    height: 150px; } }
@media only screen and (max-width: 659px) {
  .full-width-border {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important; }
    .full-width-border img {
      margin-top: -23px; }

  .blue-border {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #2e3474;
    height: 150px; } }
@media only screen and (max-width: 520px) {
  .full-width-border {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important; }
    .full-width-border img {
      margin-top: -24px; }

  .blue-border {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #2e3474;
    height: 150px; } }
@media only screen and (max-width: 385px) {
  .full-width-border {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important; }
    .full-width-border img {
      margin-top: -25px; }

  .blue-border {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #2e3474;
    height: 150px; } }

/*# sourceMappingURL=full-width-border.css.map */
