header.home {

    .site-branding-container {
        .container {
            .menu-row {
                padding-top: 1rem;

                .col-2.col-lg-2 {
                    a {
                        img {
                            max-width: 100%;
                        }
                    }
                }

                .col-8.col-lg-8 {
                    padding: 1.4rem;

                    nav.main-navigation {
                        .menu-primary-menu-container {
                            ul.main-menu {
                                float: right;

                                li.menu-item {
                                    display: inline;
                                    padding: 1.3rem;

                                    a {
                                        color: #434a4d;
                                        font-family: 'Montserrat', sans-serif;
                                        font-weight: bold;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        .main-menu-more {
                            display: none;
                        }
                    }
                }

                .button-section {
                    margin-top: 2rem;

                    a.btn-primary {
                        color: #fff;
                        background: #2a548b;
                        padding: 1rem 0.8rem 1rem 0.8rem;
                        border-radius: 2rem;
                        text-transform: uppercase;

                        strong {
                            font-weight: 600;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .cta-row {
                .cta-outer {
                    padding-top: 6rem;

                    h1 {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: bold;
                        font-size: 45px;
                        letter-spacing: -2px;
                        padding-bottom: 2rem;
                    }

                    h2 {
                        font-family: 'Lato', sans-serif;
                        font-weight: bold;
                        font-size: 22px;
                        padding-bottom: 3rem;
                    }

                    .button-row {
                        .first-button-outer {
                            a.btn-primary {
                                color: #fff;
                                background-image: linear-gradient(to right, #3d71a2, #0c2667);
                                padding: 1rem 0.8rem 1rem 0.8rem;
                                border-radius: 2rem;
                                text-transform: uppercase;

                                strong {
                                    font-weight: 600;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                }
                            }
                        }

                        .second-button-outer {
                            a.btn-secondary {
                                font-family: 'Montserrat',
                                    sans-serif;
                                text-transform: uppercase;

                                strong {
                                    font-weight: 600;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

.mobile-menu-holder {
    max-width: 250px;
    float: right;
    display: none;

    .for-mobile {
        .card {
            .menu-primary-menu-container {
                ul {
                    padding: 0;

                    li {
                        a {
                            list-style-type: none;
                            font-family: "Lato",
                                sans-serif !important;
                            font-size: 22px;
                            font-weight: bold;
                            color: #727272;
                        }
                    }
                }
            }

            .main-menu-more {
                display: none;
            }
        }
    }
}

.mobile-menu-holder {
    display: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0c2667 !important;
    background-image: linear-gradient(to right, #0c2667, #0c2667) !important;
    text-decoration: none !important;
}

.btn-secondary:hover {
    border: 0px solid #a8ad00 !important;
    font-weight: bold;
    text-decoration: none !important;
}

@media only screen and (max-width: 1016px) {
    header.home {
        height: auto !important;
        background-size: cover !important;
        padding-bottom: 6rem !important;
    }
}

@media only screen and (max-width: 459px) {

    header.home .site-branding-container .container .cta-row .cta-outer .button-row .first-button-outer a.btn-primary {

        position: absolute;
    }

    header.home .site-branding-container .container .cta-row .cta-outer .button-row .second-button-outer a.btn-secondary {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        position: absolute;
    }
}

@media only screen and (max-width: 400px) {

    header.home .site-branding-container .container .cta-row .cta-outer .button-row .first-button-outer a.btn-primary {

        font-size: 10px !important;
    }

    header.home .site-branding-container .container .cta-row .cta-outer .button-row .second-button-outer a.btn-secondary {
        font-size: 10px !important;
    }
}