.two-col-section {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .two-col {
        .first {
            text-align: center;
            display: inline-block;

            .bold {
                display: inline-block;

                h1 {
                    text-align: left;
                }
            }
        }

        .second {
            text-align: center;
            display: inline-block;

            .second-inner {
                display: inline-block;

                p {
                    text-align: left;
                    color: #434A4D;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .two-col-section {
        padding-top: 4rem;
        padding-bottom: 0rem;

        .two-col {
            .first {
                text-align: left;
                display: inline-block;

                .bold {
                    display: inline-block;

                    h1 {
                        text-align: left;
                    }
                }
            }

            .second {
                text-align: left;
                display: inline-block;

                .second-inner {
                    display: inline-block;

                    p {
                        text-align: left;
                        color: #434A4D;
                    }
                }
            }
        }
    }
}